@font-face {
    font-family: 'Catamaran';
    src: url('./../font/Catamaran/Catamaran-Regular.eot');
    src: url('./../font/Catamaran/Catamaran-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../font/Catamaran/Catamaran-Regular.woff2') format('woff2'),
        url('./../font/Catamaran/Catamaran-Regular.woff') format('woff'),
        url('./../font/Catamaran/Catamaran-Regular.ttf') format('truetype'),
        url('./../font/Catamaran/Catamaran-Regular.svg#Catamaran-Regular') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "flaticon";
    src: url("./../font/flaticon/flaticon.ttf") format("truetype"),
	url("./../font/flaticon/flaticon.woff") format("woff"),
	url("./../font/flaticon/flaticon.woff2") format("woff2"),
	url("./../font/flaticon/flaticon.eot") format("embedded-opentype"),
	url("./../font/flaticon/flaticon.svg") format("svg");
}
