.portfolio-area {
    width: 100%;
    display: flex;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    background-color: #f7f8f8;
}
.portfolio-block {
    width: 1320px;
    height: 1113px;
}
.portfolio-block-title {
    width: 1320px;
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.portfolio-cube {
    width: 1296px;
    height: 875px;
    margin-left: 12px;
}
.portfolio-block-name {
    width: 100%;
    text-align: center;
}
.portfolio-block-name h6 {
    width: 100%;
    color: #ff9800;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.portfolio-block-name h2 {
    width: 100%;
    color: #404040;
    font-size: 40px;
    font-weight: 800;
    margin: 10px 0 0 0;
    margin-bottom: 65px;
}
.portfolio-block-link {
    width: 1320px;
    display: block;
    text-align: center;
}
.portfolio-block-list {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.portfolio-list-menu {
    padding: 14px 25px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
    margin: 0 5px;
    box-shadow: 0px 5px 15px 0px rgb(94, 94, 94, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.portfolio-cube {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.portfolio-cube-block {
    width: 408px;
    height: 408px;
    padding: 0px 12px;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.cube-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.portfolio-img-link {
    position: absolute;
    width: 497px;
    height: 87px;
    left: 20px;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.portfolio-content {
    display: flex;
    width: 100%;
    height: 100%;
    
}
.portfolio-cube-block:hover .portfolio-img-link {
    top: calc(100% - 97px);
    bottom: 10px;
    background-color:white;
    width: 388px;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.portfolio-text-block {
    width: calc(100% - 65px);
    height: 100%;
    flex-shrink: 0;
    padding: 15px 20px 15px 20px;
    box-sizing: border-box;
}
.portfolio-text-link {
    width: 65px;
    height: 100%;
    background-color: #7b68ee;
    flex-shrink: 0;
}
.portfolio-text-link a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 25px;
}
.portfolio-text-block  p {
    color: #7b68ee;
    font-size: 15px;
    line-height: 1.8;
    margin-left: -50px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.portfolio-text-block  h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    line-height: 1.4;
    margin-left: 50px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.portfolio-text-block  h3 a {
    color: 404040;
}
.portfolio-cube-block:hover .portfolio-text-block  h3 {
    margin-left: 0;
}
.portfolio-cube-block:hover .portfolio-text-block  p {
    margin-left: 0;
}